@inherits TicTacToeGameBase

<div class="board">
    @for (int y = 0; y < Constants.TicTacToeBoardSize.y; y++)
    {
        for (int x = 0; x < Constants.TicTacToeBoardSize.x; x++)
        {
            Point2D point = new Point2D(x, y);
            <button disabled="@(UserMessage!="")" @onclick="() => OnUserBoardClick(point)" class="TicTacToeButton">
                <label class="ButtonText">@TicTacToeLogic.GetPoint(point)</label>
            </button>
        }
    }
</div>

<style>
    .board{
        display: grid;
        grid-template-columns: repeat(@Constants.TicTacToeBoardSize.x, 1fr);
        grid-template-columns: repeat(@Constants.TicTacToeBoardSize.x, 100px);
    }
</style>

<button disabled="@(UserMessage=="")" class="btn btn-primary" @onclick="PlayAgain">Restart</button>

<h1>@UserMessage</h1>

