@inherits MonopolyGameBase
@inject IModalService modal

<h3>Dziala!!</h3>

<button @onclick="EnterRoom">Join To Room</button>
<button @onclick="SendMessage">Send Message</button>
<button @onclick="Ready">Ready</button>

<br />
<br />
<MonopolyBoard Board="@MonopolyLogic.GetBoard()" PlayersPositions="@MonopolyLogic.GetPlayersUpdatedData()"></MonopolyBoard>

<button @onclick="Move" disabled="@(MonopolyLogic.IsYourTurn() == false)">Throw Dice</button>
<button @onclick="@(() =>
{
    modal.Show<YesOrNoModal>();
})">ShowModal</button>

<DisplayPlayersMoney PlayersMoney="@MonopolyLogic.GetPlayersUpdatedData()"></DisplayPlayersMoney>

<br />
<br />
<ShowMessages Messages="@Messages"></ShowMessages>