@inherits MonopolyGameBase

<h3>Dziala!!</h3>

<button @onclick="EnterRoom">Join To Room</button>
<button @onclick="Ready">Ready</button>

<br />
<br />
<MonopolyBoard Board="@MonopolyLogic.GetBoard()" PlayersPositions="@MonopolyLogic.GetUpdatedData().PlayersData"></MonopolyBoard>

<button @onclick="Move"  disabled="@(CanMove() == false)">Throw Dice</button>

<DisplayPlayersMoney PlayersMoney="@MonopolyLogic.GetUpdatedData().PlayersData"></DisplayPlayersMoney>

<br />
<br />
<ShowMessages Messages="@Messages"></ShowMessages>